/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
/*  margin: 0;
  padding: 0;*/
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.App {
      /*display: flex;*/
}

ul {
  list-style: none;
}

.box {
  position: relative;
  /*display: flex;*/
  float: left;
  /*border-style: dotted;*/
  width: 370px;
  margin: 2px;
  text-align: center;
  left: 8%;
}

.picGallery {
  /*display: flex;*/
  /*position: relative;*/
  padding: 10px;
  text-align: center;
  /*align-self: auto | flex-start | flex-end | center | baseline | stretch;*/
}


img {
    width: 340px;
    height: 230px;
}

img:hover {
  opacity: 0.5;
  -webkit-transition: width 5s; /* Safari */
  transition: width 5s;
}


@media screen and (max-width: 1061px) {
      h1 {
        text-align: center;
      }
      .box {
        position: relative;
        /*display: flex;*/
        float: left;
        /*border-style: dotted;*/
        width: 370px;
        margin: 2px;
        text-align: center;
        left: 4%;
      }

      .picGallery {
        /*display: flex;*/
        /*position: relative;*/
        padding: 10px;
        text-align: center;
        /*align-self: auto | flex-start | flex-end | center | baseline | stretch;*/
      }
    }

    @media screen and (max-width: 800px) {
      h1 {
        text-align: center;
      }
      .box {
        position: relative;
        /*display: flex;*/
        float: left;
        /*border-style: dotted;*/
        width: 370px;
        margin: 2px;
        text-align: center;
        /*left: 6%;*/
      }
    }

    @media screen and (max-width: 416px) {
      h1 {
        text-align: center;
      }
      .box {
        position: relative;
        left: -20px;
        width: 100%;
      }
      img {
        width: 270px;
        height: 190px;
      }
    }












