body {
/*  margin: 0;
  padding: 0;*/
  font-family: sans-serif;
  text-align: center;
}

.App {
      /*display: flex;*/
}

ul {
  list-style: none;
}

.box {
  /*display: flex;*/
  border-style: dotted;
  width: 500px;
  padding: 2px;
  margin: 2px;
}

.picGallery {
  /*display: flex;*/
  position: relative;
  padding: 10px;
  text-align: center;
  /*align-self: auto | flex-start | flex-end | center | baseline | stretch;*/
}



img {
    width: 400px;
    height: 300px;
}

img:hover {
  opacity: 0.5;
  -webkit-transition: width 5s; /* Safari */
  transition: width 5s;
}
